@import "{{ site.theme }}";
.body {
  font-size: 1.4em;
}
blockquote {
  font-size: 1.4em;
  border-left: 10px solid #444;
}

h1.logo a > img {
	display: inline;
	height: auto;
	margin: 0 2vw 0 0;
	max-height: 5em;
	width: 40vw;
}
